@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/fonts/fonts.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --background-gradient: linear-gradient(to top, #e6c260, #d6a50f);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Courgette', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.courgette-font {
  font-family: 'Courgette', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,
      transparent,
      #d6a50f 50%,
      transparent);
  border-radius: 10px;
}

html::-moz-scrollbar {
  width: 3px;
}

html::-moz-scrollbar-track {
  background: transparent;
}

html::-moz-scrollbar-thumb {
  background: linear-gradient(to bottom,
      transparent,
      #d6a50f 50%,
      transparent);
  border-radius: 10px;
}