@font-face {
    font-family: 'Courgette';
    src: url('./Courgette-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PirateOne';
    src: url('./PirataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_Alternates Thin';
    src: url('./Montserrat_Alternates/MontserratAlternates-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat_Alternates Bold';
    src: url('./Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
}